@model SuperScheduler.ViewModels.ActiveEmployeeViewModel
@{
    ViewBag.Title = "Add Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row col-md-12">
    <h2>Add New Employees</h2>
    <p>Which employees would you like to activate?</p>
    <br />
    <table class="table-hover table-striped table" style="width:100%; text-align:center; font-size:16px;">
        <thead>
            <tr>
                <th style="width:15%; text-align:center">#</th>
                <th style="width:60%; text-align:center">Users</th>
                <th style="width:25%; text-align:center">Activate For Scheduling</th>
            </tr>
        </thead>
        <tbody style="padding-top:10px;">
            @{
                int row = 1;
                foreach (var el in Model.AllUsers)
                {
                    <tr style="">
                        <td style="width:15%;padding-top:11px;">@row</td>
                        <td style="width:60%;padding-top:11px;">@el.UserName</td>
                        <td style="width:25%">
                           @foreach (var em in Model.Employees)
                            {
                                if (el == em.EmployeeUser)
                                {
                                    Html.ActionLink("Deactivate", "RemoveEmployee", "Manager", new { positionName = el.ToString() }, new { @class = " btn alert-danger ", @style = "padding: 5px" });
                                    break;
                                }
                                Html.ActionLink("Activate", "RemoveEmployee", "Manager", new { positionName = el.ToString() }, new { @class = " btn alert-success ", @style = "padding: 5px" })

                            }
                        </td>
                        @{row++;}
                    </tr>
                }
            }
        </tbody>
    </table>
</div>